<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127869269941-pquese7dne3sl1fhaolvlap5rs86c3vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127869269941-pquese7dne3sl1fhaolvlap5rs86c3vm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127869269941-6m4ufbajspu4i8if024lnofh3rl82rei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZQFDLcfyOXQqEt9M5mDSQkwMOBl643II</string>
	<key>GCM_SENDER_ID</key>
	<string>127869269941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.newson</string>
	<key>PROJECT_ID</key>
	<string>newson-dea6b</string>
	<key>STORAGE_BUCKET</key>
	<string>newson-dea6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127869269941:ios:9983dbad5b6d848fca4bfc</string>
	<key>DATABASE_URL</key>
	<string>https://newson-dea6b-default-rtdb.firebaseio.com</string>
</dict>
</plist>